################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/node_modules
/bin
/plugins
/.vs
/platforms
