@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300,100);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css);

* {font-family: Lato;}

body {
    /*background: url(http://i.imgur.com/bZlpljL.jpg); background-size: cover; background-position: center center;*/
    margin: 0;
}

::selection {
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

.menu {
    /*background: rgba(38, 48, 58, 0.9); */
    background: rgba(31, 37, 43, 0.9);
    z-index: 5;
}

#menu {
    position: fixed;
    left: -200px;
    top: 0;
    bottom: 0;
    width: 200px;
    color: white;
    transform: translateZ(0);
    overflow-y: auto;
}

.container.center {
    display: table;
    width: 100%;
    height: 100%;
}

.container.center > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#menu .item {
    width: 100px;
    height: 100px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    display: inline-block;
    border-radius: 100%;
    position: relative;
    margin: 1em 0;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.15s;
}

#menu .item:hover {
    transform: scale(0.9);
}

#menu .item .counter {
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    font-size: 14px;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.4);
    padding: 1px 6px 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    span.current{
        color: black;
    }
}

#menu .item#pokemons {
    background-color: #08c1c6;
    background-image: url("../images/pokemons.png");
}

#menu .item#pokedex {
    background-color: #bfe358;
    background-image: url("../images/pokedex.png");
}

#menu .item#items {
    background-color: #fe7676;
    background-image: url("../images/items.png");
}

#menu .item#eggs {
    background-color: #9b59b6;
    background-image: url("../images/eggs.png");
}

#menu .item#settings {
    background-color: #7f8c8d;
    background-image: url("../images/settings.png");
}

#menu .close-button {
    width: 50px;
    height: 50px;
    transition: 0.3s;
    border-radius: 100%;
    margin: auto;
    margin-bottom: 2.5em;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.close-button i, .open-menu i, .open-journal i {
    line-height: 48px;
    color: white;
    transition: 0.3s;
}

#menu .help {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: auto;
    margin-top: 2.5em;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: 0.3s;
    color: white;
}

#menu .help i {
    line-height: 48px;
}

.open-menu {
    transition: 0.3s;
    position: fixed;
    top: 15px;
    margin: 0;
    color: white;
    left: 15px;
    transition: 0.3s;
    border-radius: 100px;
    margin: auto;
    margin-bottom: 2.5em;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    padding: .75em 1em .9em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

.open-menu i {
    margin-left: .5em;
    margin-right: 0 !important;
}

.open-menu i, .open-journal i {
    vertical-align: -5%;
    line-height: 1;
    margin-right: .5em;
}

.open-menu:hover,
.open-menu:focus,
.help:hover,
.help:focus,
.open-journal:hover,
.open-journal:focus,
.close-button:hover,
.close-button:focus {
    background: rgba(0, 0, 0, 0.7) !important;
}

.menu::-webkit-scrollbar {
    width: 10px;
    background: rgba(0, 0, 0, 0.1);
}

.menu::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

#popup .inner-wrap {
    position: fixed;
    z-index: 11;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 1000px;
    max-height: 800px;
    background: #ededed;
    margin: auto;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.32);
}

#popup .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
}

#popup .inner-wrap .close-me {
    position: absolute;
    top: 0;
    cursor: pointer;
    left: 0;
    height: 36px;
    width: 36px;
    color: white;
    background: rgba(0, 0, 0, 0.15);
    line-height: 34px;
    transition: 0.3s;

    &:hover {
        background: rgba(0, 0, 0, 0.4);
    }
}

#popup .inner-wrap .title {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 36px;
    width: 100%;
    height: 36px;
    background: rgba(0, 0, 0, 0.1);
}

#popup .inner-wrap .content {
    padding: 10px;
}


/* journal */

#journal {
    position: fixed;
    right: -300px;
    top: 0;
    bottom: 0;
    width: 300px;
    color: white;
    transform: translateZ(0);
    overflow-y: auto;
}

#journal .title {
    height: 80px;
    width: 100%;
    /* background: #34424f; */
    background: rgba(67, 93, 109, 0.22);
    text-transform: uppercase;
    display: table;
    position: relative;
}

#journal .title span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

#journal .items {
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    direction: rtl;
}

#journal .items .event {
    direction: ltr;
    margin: 0;
    /*  background: rgba(32, 41, 49, 0.8); */
    /*background: rgba(12, 13, 14, 0.2); */
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    width: 100%;
    overflow: hidden;
    animation: fadeIn .5s 1 ease-out;
}

#journal .items .event .extended-info {
    display: none;
    padding: 0 2em 2em 2em;
    color: #8198af;
    font-size: 12px;
    line-height: 2;
    text-transform: uppercase;
}

#journal .items .event .extended-info span {
    color: white;
    margin: 0 0.5em;
}

#journal .items .event .extended-info span img {
    max-height: 16px;
    max-width: 16px;
    vertical-align: middle;
}

#journal .items .event .extended-info span img + img {
    margin-left: 0.3em;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#journal .items .event .item-container {
    display: table;
    width: 100%;
    /* min-height: 100px; */
    padding: 1em 0;
}

#journal .items .event .category {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
}

#journal .items .event + .event {
    margin-top: 10px;
}

#journal .items::-webkit-scrollbar {
    width: 10px;
    background: rgba(0, 0, 0, 0.3);
}

#journal .items::-webkit-scrollbar-thumb {
    /* background: rgba(0, 0, 0, 0.5); */
    background: rgba(97, 128, 160, 0.5);
}

#journal .items:before {
    content: "";
    position: fixed;
    top: 80px;
    z-index: 1;
    pointer-events: none;
    left: 0;
    right: 0;
    height: 160px;
    background: linear-gradient(to bottom, rgba(17,23,27,1) 0%,rgba(35,45,53,0) 100%);
    display: block;
    transition: 0.2s;
    opacity: 0.7;
}

#journal .items:after {
    content: "";
    position: fixed;
    bottom: 60px;
    z-index: 1;
    pointer-events: none;
    left: 0;
    right: 0;
    height: 160px;
    background: linear-gradient(to top, rgba(17,23,27,1) 0%,rgba(35,45,53,0) 100%);
    display: block;
    transition: 0.2s;
    opacity: 0.7;
}

#journal:hover .items:before, #journal:hover .items:after {
    opacity: 0;
}

$event-transfer-color: #1d7157;
$event-pokestop-color: #33b5e5;
$event-recycle-color: #cb92f1;
$event-catch-color: #7db620;
$event-snipe-color: #7db620;
$event-evolve-color: #ebac28;
$event-egg-hatched-color: #fe7676;
$event-incubator-status-color: #e9e1b5;



#journal .event.transfer .category {background: $event-transfer-color}
#journal .event.pokestop .category {background: $event-pokestop-color}
#journal .event.recycle .category {background: $event-recycle-color;}
#journal .event.catch .category {background: $event-catch-color;}
#journal .event.snipe .category {background: $event-snipe-color;}
#journal .event.evolve .category {background: $event-evolve-color;}
#journal .event.egg-hatched .category {background: $event-egg-hatched-color;}
#journal .event.incubator-status .category {background: $event-incubator-status-color;}

#journal .event .event-type {
    position: absolute;
    top: 0;
    right: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 4px 6px;
}

#journal .event.transfer .event-type {color: $event-transfer-color}
#journal .event.pokestop .event-type {color: $event-pokestop-color}
#journal .event.recycle .event-type {color: $event-recycle-color;}
#journal .event.catch .event-type {color: $event-catch-color;}
#journal .event.snipe .event-type {color: $event-snipe-color;}
#journal .event.evolve .event-type {color: $event-evolve-color;}
#journal .event.egg-hatched .event-type {color: $event-egg-hatched-color;}
#journal .event.incubator-status .event-type {color: $event-incubator-status-color;}

#journal .event .image {
    display: table-cell;
    width: 64px;
    height: 64px;
    padding-left: 1em;
    text-align: center;
    vertical-align: middle;
}

#journal .event .info {
    display: table-cell;
    padding: .3em 0;
    padding-left: 1em;
    vertical-align: middle;
    font-size: 18px;
}

#journal .event .info .stats {
    font-size: 14px;
    color: #8198af;
}

#journal .event .timestamp {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 6px;
    color: #5d6c7a;
}

#journal .event img {
    max-width: 64px;
    max-height: 64px;
}

#journal .event .info .item {
    display: inline-block;
    margin-bottom: 5px;
}

#journal .event .info .item + .item {
    margin-left: .5em;
}

#journal .event .info .item img {
    max-width: 32px;
    max-height: 32px;
    vertical-align: middle;
    margin-right: 7px;
}

#journal .close-button {
    width: 50px;
    height: 50px;
    transition: 0.3s;
    border-radius: 100%;
    margin: 15px;
    margin-bottom: 2.5em;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    display: table-cell;
}

.open-journal {
    transition: 0.3s;
    position: fixed;
    top: 15px;
    margin: 0;
    color: white;
    right: 15px;
    transition: 0.3s;
    border-radius: 100px;
    margin: auto;
    margin-bottom: 2.5em;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    padding: .75em 1em .9em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

#journal .clear-all {
    height: 60px;
    width: 100%;
    background: /*#1c2329*/ #161c21;
    text-transform: uppercase;
    display: table;
    color: #a8bcd1;
    cursor: pointer;
    position: relative;
}

#journal .clear-all span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.delete-icon {
    display: inline-block;
    margin-right: .7em;
    vertical-align: -10%;
}

.delete-icon div {
    background: #a8bcd1;
    height: 2px;
    transition: 0.3s;
    width: 16px;
    margin: 2px 0;
}

.delete-icon div.bar1 {
    transform: translateX(3px);
}

.delete-icon div.bar3 {
    transform: translateX(-3px);
}

#journal .clear-all:hover .delete-icon div {
    transform: translateX(0);
}

#journal .items .event .dismiss {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    font-size: 12px;
    color: #a8bcd1;
}

.leaflet-overlay-pane svg {
    background: #000e23;
    opacity: 0.7;
}

.leaflet-top, .leaflet-bottom {
    z-index: 1;
    opacity: 0.25;
}

#content-wrap::-webkit-scrollbar {
    width: 10px;
    background: rgba(0, 0, 0, 0.1);
}

#content-wrap::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}

.inner-wrap .pokemon {
    display: inline-block;
    margin: 0.5em;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
    width: 175px;
    vertical-align: top;
    background: white;
    cursor: pointer;
    transition: 0.3s;
}

.inner-wrap .pokemon.opened {
    width: calc(100% - 30px);
}

.inner-wrap .pokemon:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

.inner-wrap .pokemon img {
    max-height: 100px;
    max-width: 100px;
    vertical-align: middle;
    display: inline-block;
}

.inner-wrap .pokemon .image-container {
    height: 100px;
    margin: 0 auto;
}

.inner-wrap .pokemon .image-container:before {
    content: "";
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.inner-wrap .pokemon h1 {
    font-size: 18px;
}

.inner-wrap .pokemon h3 {
    font-size: 14px;
}

.inner-wrap .pokemon .cp:before {
    content: "CP";
    margin-right: .5em;
    opacity: 0.5;
}

.inner-wrap .pokemon .iv:before {
    content: "IV";
    margin-right: .5em;
    opacity: 0.5;
}

.inner-wrap .pokemon .iv:after {
    content: "%";
}

#content-wrap {overflow-y: scroll; height: calc(100% - 36px); position: relative; transition: 0.3s;}

#popup .inner-wrap .content[data-category="pokemons"] {
    margin: .5em 0;
}

.inner-wrap .pokemon .caught:before {
    content: "Caught";
    margin-right: .5em;
    opacity: 0.5;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding-right: .5em;
}

.inner-wrap .pokemon .seen:before {
    content: "Seen";
    margin-right: .5em;
    opacity: 0.5;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding-right: .5em;
}


#profile {
    position: fixed;
    width: 300px;
    right: 0;
    left: 0;
    bottom: 10px;
    margin: 0 auto;
    text-align: center;
    display: table;
    color: white;
    padding: 1.25em .75em;
    border-radius: 5px;
    transition: 0.5s cubic-bezier(0.3, 0, 0, 1);
}

#profile > div {
    display: table-cell;
    vertical-align: middle;
}

#profile h1, #profile h6, #profile .profile-exp {
    font-size: 14px;
    margin: 0.2em;
}

#profile h6 {
    color: rgba(255, 255, 255, 0.75);
}

#profile .profile-exp {
    color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    position: relative;
    letter-spacing: 1px;

    span {
        color: rgba(255, 255, 255, 0.5);
    }
}

/* #profile .user-items div {
    margin: 0.5em 0;
} */

#profile .user-items div + div {
    margin-top: .75em;
}

#profile .user-items img {
    max-height: 16px;
    vertical-align: -10%;
    margin-right: 0.5em;
}

#profile > .hide {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    padding: 10px 13px;
    background: rgba(0, 0, 0, 0.2);
    transition: 0.5s cubic-bezier(0.3, 0, 0, 1);
    border-radius: 5px 0;

    right: 0;
    border-radius: 100%;
    background: transparent;
    margin: 0 auto;
    padding: 10px 0;
    width: 36px;

    top: -18px;
    background: #3a4b58;
    box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0.1);

}

#profile > .hide:hover {
    box-shadow: inset 0 0 0 18px rgba(255, 255, 255, 0.1);
}

#profile.hidden {
    transform: translateY(100%);
    bottom: 0;
}

#profile.hidden .hide {
    transform: rotate(-180deg);
    top: -51px;
    /*background: rgba(38, 48, 58, 0.9); */
    background: rgba(18, 22, 27, 0.9);
    border-radius: 100%;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.3);
}

#profile.hidden > .hide:hover {
    box-shadow: inset 0 0 0 18px rgba(0, 0, 0, 0.3);
}

.spinner-overlay {
    background-color: rgba(237, 237, 237, 0.9);
    position: absolute;
    right: 0;
    left: 0;
    display: none;
    top: 36px;
    height: calc(100% - 36px) !important;
    bottom: 0;
    z-index: 1;

    i {
        padding: 20px;
        background: #95b0bd;
        border-radius: 50%;
        color: white;
        box-shadow: inset 0 0 0 24px #607D8B, 0 0 63px 10px #ededed;
    }
}

#profile .xp-progress {
    height: 2px;
    background: rgba(255, 255, 255, 0.15);
    width: 100px;
    margin: 0.2em auto;
    margin-bottom: .5em;
}

#profile .current-xp {
    width: 50px;
    background: #4faed4;
    height: 100%;
}

.profile-stardust {
    position: relative;
}

.xp-bubble, .stardust-bubble {
    position: absolute;
    top: 0;
    left: -3.5em;
    animation: XpBubble 1s 1 linear;
    animation-fill-mode: forwards;
    font-size: 12px;
    color: #4faed4;
}

.stardust-bubble {
    left: -2.5em;
    right: -2em;
    color: #ac77c6;
    transform: translateY(-0.5em);
}

@keyframes XpBubble {
    0% {opacity: 0; top: 0;}
    10% {opacity: 1; top: -2px;}
    90% {opacity: 1; top: -18px;}
    100% {opacity: 0; top: -20px;}
}

#pokemon-info {
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

/* #pokemon-info {
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    z-index: 1;
    display: none;
    margin: 50px;
    width: calc(100% - 100px);
    height: calc(100% - 136px);
} */

.vertical-align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#content-wrap.blurred {
    -webkit-filter: blur(5px);
    opacity: 0.2;
}

@keyframes SlideIn {
    0% {transform: translateY(-20px);}
    100% {transform: translateY(0);}
}

#pokemon-content {

    display: inline-block;
    padding: 2em;
    border-radius: 5px;
    position: relative;
    vertical-align: middle;
    background: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    line-height: 1.75;
    overflow: hidden;
    animation: SlideIn .3s cubic-bezier(0, 0, 0, 1);

    i.close-button {
        position: absolute;
        left: 0;
        top: 0;
        padding: 10px;
        color: black;
        cursor: pointer;
        transition: 0.3s;
    }

    i.close-button:hover {
        background: transparent !important;
    }

    i.close-button:before {
        margin: 0 !important;
        transition: 0.3s;
    }

    i.close-button:hover::before {
        color: black !important;
    }

    #pokemon-iv {

        text-transform: uppercase;
        margin: 1em 0;

        div {
            margin: 2px;
            padding: 8px 10px;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
            color: rgba(0, 0, 0, 0.5);
            text-transform: uppercase;
            display: inline-block;
            font-size: 12px;
            border-radius: 3px;

            span {
                color: black;
                display: block;
            }
        }
    }

    #pokemon-type {

        text-transform: uppercase;
        margin: 1em 0;
        font-size: 12px;
        font-weight: bold;
        color: white;

        span {
            border-radius: 20px;
            margin: 3px;
            background-color: rgba(0, 0, 0, 0.75);
            padding: 3px 8px;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
            color: white !important;
        }

        .bug        {background-color: #a8b72a;}
        .grass      {background-color: #91e283; color: black;}
        .dark       {background-color: #485b5f;}
        .ground     {background-color: #c89c43;}
        .dragon     {background-color: #d35400;}
        .ice        {background-color: #bce3ea; color: black;}
        .electric   {background-color: #edce36; color: black;}
        .normal     {background-color: #aba693;}
        .fairy      {background-color: #fdbafd; color: black;}
        .poison     {background-color: #a645a6;}
        .fighting   {background-color: #b4352f;}
        .psychic    {background-color: #f75ba2;}
        .fire       {background-color: #f65038;}
        .rock       {background-color: #886626;}
        .flying     {background-color: #72cff0; color: black;}
        .steel      {background-color: #7f8c8d;}
        .ghost      {background-color: #cbc7dc; color: black;}
        .water      {background-color: #349cf5;}
    }

    h1 {
        font-size: 24px;
        margin: 0;
        margin-bottom: 0.1em;
    }

    img {
        max-height: 140px;
    }

    *:before {
        color: rgba(0, 0, 0, 0.5);
        margin-right: 0.75em;
    }

    .total-iv:before {
        content: "Total IV";
    }

    .poke-cp:before {
        content: "CP";
    }

    .parameter:before {
        content: "Parameter";
    }

    .move1:before {
        content: "Quick move";
    }

    .move2:before {
        content: "Charge move";
    }

    .pkm-candies:before {
        content: "Candies";
    }


    .controls {

        margin-top: 2em;
        padding: 2em;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        padding-bottom: 0;

        div {
            display: inline-block;
            text-transform: uppercase;
            position: relative;
            margin: 5px;
            border-radius: 3px;
            background: #08C1C6;
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
            color: white;
            font-size: 12px;
            padding: 5px 7px;
            padding-top: 8px;
            letter-spacing: 1px;
            font-weight: 500;
            min-width: 82px;
            cursor: pointer;
            outline: 0;

            i {
                display: block;
                font-size: 1.5em;
                margin: 0.2em 0;
            }

            i:before {
                margin: 0 !important;
                color: white;
            }

            .confirm {
                position: absolute;
                font-size: 10px;
                top: -37px;
                left: -40px;
                right: -40px;
                cursor: auto;
                transform: scaleY(0);
                transform-origin: bottom;
                transition: 0.2s;
                background: #232323;
                padding: 0.5em;
                border-radius: 3px;

                span {
                    background: #BADA55;
                    color: black;
                    border-radius: 10px;
                    padding: 3px 6px;
                    cursor: pointer;
                }
            }
        }

        div:focus .confirm {
            transform: scaleY(1);
        }
    }


}



.content[data-category="items"] {

    padding: 0 !important;


    /* .recycle-action {
        .recycle-product {
            display: inline-block;
            text-transform: uppercase;
            position: relative;
            margin: 5px;
            border-radius: 3px;
            background: #08C1C6;
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
            color: white;
            font-size: 12px;
            padding: 5px 7px;
            padding-top: 8px;
            letter-spacing: 1px;
            font-weight: 500;
            min-width: 82px;
            cursor: pointer;
            outline: 0;

            i {
                display: block;
                font-size: 1.5em;
                margin: 0.2em 0;
            }

            i:before {
                margin: 0 !important;
                color: white;
            }

            .confirm {
                position: absolute;
                font-size: 10px;
                top: -37px;
                left: -40px;
                right: -40px;
                cursor: auto;
                transform: scaleY(0);
                transform-origin: bottom;
                transition: 0.2s;
                background: #232323;
                padding: 0.5em;
                border-radius: 3px;

                span {
                    background: #BADA55;
                    color: black;
                    border-radius: 10px;
                    padding: 3px 6px;
                    cursor: pointer;
                }
            }
        }

        .recycle-product:focus .confirm {
            transform: scaleY(1);
        }
    } */


    .product {

        display: table;
        table-layout: fixed;
        width: 100%;
        padding: 1em 0;

        .product-info {
            display: table-cell;
            vertical-align: middle;
            text-align: left;
            padding-left: 5%;

            img {
                height: 48px;
                vertical-align: middle;
                width: 64px;
                object-fit: contain;
            }

            h1 {
                display: inline-block;
                font-size: 18px;
                margin-left: 1em;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.8);
                font-size: 14px;
            }

        }

        .number {
            display: table-cell;
            vertical-align: middle;
            font-size: 28px;
            font-weight: 300;
            width: 30%;
            text-align: right;
            padding-right: 5%;
        }
    }

    .product.brighter {
        background: rgba(255, 255, 255, 0.35);
    }

    .product + .product {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
}



.content[data-category="eggs"] {
    .egg {
        width: 175px;
        height: 175px;
        border-radius: 100px;
        background: white;
        margin: 2em 3em;
        display: inline-block;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
        position: relative;

        p {
            font-weight: 600;
            color: rgba(0, 0, 0, 0.4);
            margin: 0.5em 0;

            b {
                color: rgba(0, 0, 0, 0.7);
            }

            i {
                font-style: normal;
            }
        }

        .circle {
            position: absolute;
            top: -2.5px;
            left: -2.5px;
            right: -2.5px;
        }
    }

    .egg .incubator {
        background-image: url("../images/items/0.png");
        background-size: 16%;
        background-position: 50% 49%;
        background-repeat: no-repeat;
    }

    .egg .incubator img {
        height: 130px;
        vertical-align: middle;
        display: inline-block;
    }

    .egg .incubator:before {
        content: "";
        height: 100%;
        vertical-align: middle;
        display: inline-block;
    }
}


.content[data-category="settings"] {
    padding: 0 !important;

    .tab-buttons {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-spacing: 10px;

        div {
            display: table-cell;
            padding: 1em;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
            transition: 0.2s;
            background: rgba(255, 255, 255, 0.5);
            color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }

        div.selected {
            background: white;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
            color: black;
            pointer-events: none;
        }
    }

    .tab-pages {

        & > div {
            text-align: center;
            padding: 1em;
            margin: 1em;
            line-height: 2;
            display: none;
        }

        .setting-topic {

            background: white;
            padding: 1em 2em;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

            .setting-name {
                margin-top: 0;
                margin-bottom: 1em;
                font-size: 14px;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.5);
                padding: 0 2em;
                display: inline-block;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }

            & ~ .setting-topic {
                margin-top: 2em;
            }
        }

        .setting-part {
            display: table;
            width: 100%;
            text-align: left;
            table-layout: fixed;

            & > * {
                display: table-cell;
                vertical-align: top;
            }

            .setting-question span {
                display: block;
                font-size: 12px;
                color: rgba(0, 0, 0, 0.5);
            }

            .setting-answer {
                width: 30%;

                input {
                    padding: 6px 10px;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 3px;
                    transition: 0.2s;
                    outline: 0;
                }

                input:focus {
                    border-color: rgba(0, 0, 0, 0.4);
                }
            }

            & + .setting-part {
                margin-top: 1em;
            }
        }
    }
}
