@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300,100);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css);
* {
  font-family: Lato; }

body {
  /*background: url(http://i.imgur.com/bZlpljL.jpg); background-size: cover; background-position: center center;*/
  margin: 0; }

::selection {
  background: rgba(0, 0, 0, 0.7);
  color: white; }

.menu {
  background: rgba(38, 48, 58, 0.9);
  z-index: 5; }

#menu {
  position: fixed;
  left: -200px;
  top: 0;
  bottom: 0;
  width: 200px;
  color: white;
  transform: translateZ(0);
  overflow-y: auto; }

.container.center {
  display: table;
  width: 100%;
  height: 100%; }

.container.center > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

#menu .item {
  width: 100px;
  height: 100px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  display: inline-block;
  border-radius: 100%;
  position: relative;
  margin: 1em 0;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.15s; }

#menu .item:hover {
  transform: scale(0.9); }

#menu .item .counter {
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  font-size: 14px;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.4);
  padding: 1px 6px 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

#menu .item .counter span {
  color: black; }

#menu .item#pokemons {
  background-color: #08c1c6;
  background-image: url("../images/pokemons.png"); }

#menu .item#pokedex {
  background-color: #bfe358;
  background-image: url("../images/pokedex.png"); }

#menu .item#items {
  background-color: #fe7676;
  background-image: url("../images/items.png"); }

#menu .item#eggs {
  background-color: #9b59b6;
  background-image: url("../images/eggs.png"); }

#menu .item#settings {
  background-color: #7f8c8d;
  background-image: url("../images/settings.png"); }

#menu .close-button {
  width: 50px;
  height: 50px;
  transition: 0.3s;
  border-radius: 100%;
  margin: auto;
  margin-bottom: 2.5em;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer; }

.close-button i, .open-menu i, .open-journal i {
  line-height: 48px;
  color: white;
  transition: 0.3s; }

#menu .help {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: auto;
  margin-top: 2.5em;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: 0.3s; }

#menu .help i {
  line-height: 48px; }

.open-menu {
  transition: 0.3s;
  position: fixed;
  top: 15px;
  margin: 0;
  color: white;
  left: 15px;
  transition: 0.3s;
  border-radius: 100px;
  margin: auto;
  margin-bottom: 2.5em;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  padding: .75em 1em .9em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px; }

.open-menu i {
  margin-left: .5em;
  margin-right: 0 !important; }

.open-menu i, .open-journal i {
  vertical-align: -5%;
  line-height: 1;
  margin-right: .5em; }

.open-menu:hover,
.open-menu:focus,
.help:hover,
.help:focus,
.open-journal:hover,
.open-journal:focus,
.close-button:hover,
.close-button:focus {
  background: rgba(0, 0, 0, 0.7) !important; }

.menu::-webkit-scrollbar {
  width: 10px;
  background: rgba(0, 0, 0, 0.1); }

.menu::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); }

#popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100; }

#popup .inner-wrap {
  position: fixed;
  z-index: 11;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 1000px;
  max-height: 300px;
  background: white;
  margin: auto;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.32); }

#popup .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5); }

#popup .inner-wrap .close-me {
  position: absolute;
  top: 0;
  cursor: pointer;
  left: 0;
  height: 36px;
  width: 36px;
  color: white;
  background: rgba(0, 0, 0, 0.15);
  line-height: 34px; }

#popup .inner-wrap .title {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 36px;
  width: 100%;
  height: 36px;
  background: rgba(0, 0, 0, 0.1); }

#popup .inner-wrap .content {
  padding: 10px; }

/* journal */
#journal {
  position: fixed;
  right: -300px;
  top: 0;
  bottom: 0;
  width: 300px;
  color: white;
  transform: translateZ(0);
  overflow-y: auto; }

#journal .title {
  height: 80px;
  width: 100%;
  background: #34424f;
  text-transform: uppercase;
  display: table;
  position: relative; }

#journal .title span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px; }

#journal .items {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  direction: rtl; }

#journal .items .event {
  direction: ltr;
  margin: 0;
  background: rgba(32, 41, 49, 0.8);
  cursor: pointer;
  position: relative;
  width: 100%;
  overflow: hidden; }

#journal .items .event .item-container {
  display: table;
  width: 100%;
  min-height: 100px; }

#journal .items .event .category {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10px; }

#journal .items .event + .event {
  margin-top: 10px; }

#journal .items::-webkit-scrollbar {
  width: 10px;
  background: rgba(0, 0, 0, 0.1); }

#journal .items::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); }

#journal .items:before {
  content: "";
  position: fixed;
  top: 80px;
  z-index: 1;
  pointer-events: none;
  left: 0;
  right: 0;
  height: 160px;
  background: linear-gradient(to bottom, #232d35 0%, rgba(35, 45, 53, 0) 100%);
  display: block;
  transition: 0.2s;
  opacity: 0.7; }

#journal .items:after {
  content: "";
  position: fixed;
  bottom: 60px;
  z-index: 1;
  pointer-events: none;
  left: 0;
  right: 0;
  height: 160px;
  background: linear-gradient(to top, #232d35 0%, rgba(35, 45, 53, 0) 100%);
  display: block;
  transition: 0.2s;
  opacity: 0.7; }

#journal:hover .items:before, #journal:hover .items:after {
  opacity: 0; }

#journal .event.transfer .category {
  background: #1d7157; }

#journal .event.pokestop .category {
  background: #33b5e5; }

#journal .event.recycle .category {
  background: #cb92f1; }

#journal .event.catch .category {
  background: #7db620; }

#journal .event.snipe .category {
  background: #7db620; }

#journal .event.evolve .category {
  background: #ebac28; }

#journal .event .event-type {
  position: absolute;
  top: 0;
  right: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 4px 6px; }

#journal .event.transfer .event-type {
  color: #1d7157; }

#journal .event.pokestop .event-type {
  color: #33b5e5; }

#journal .event.recycle .event-type {
  color: #cb92f1; }

#journal .event.catch .event-type {
  color: #7db620; }

#journal .event.snipe .event-type {
  color: #7db620; }

#journal .event.evolve .event-type {
  color: #ebac28; }

#journal .event .image {
  display: table-cell;
  width: 64px;
  padding-left: 1em;
  text-align: center;
  vertical-align: middle; }

#journal .event .info {
  display: table-cell;
  padding-left: 1em;
  vertical-align: middle;
  font-size: 18px; }

#journal .event .info .stats {
  font-size: 14px;
  color: #8198af; }

#journal .event .timestamp {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 6px;
  color: #5d6c7a; }

#journal .event img {
  max-width: 64px;
  max-height: 64px; }

#journal .event .info .item {
  display: inline-block;
  margin-bottom: 5px; }

#journal .event .info .item + .item {
  margin-left: .7em; }

#journal .event .info .item img {
  max-width: 32px;
  max-height: 32px;
  vertical-align: middle;
  margin-right: 7px; }

#journal .close-button {
  width: 50px;
  height: 50px;
  transition: 0.3s;
  border-radius: 100%;
  margin: 15px;
  margin-bottom: 2.5em;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  display: table-cell; }

.open-journal {
  transition: 0.3s;
  position: fixed;
  top: 15px;
  margin: 0;
  color: white;
  right: 15px;
  transition: 0.3s;
  border-radius: 100px;
  margin: auto;
  margin-bottom: 2.5em;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  padding: .75em 1em .9em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px; }

#journal .clear-all {
  height: 60px;
  width: 100%;
  background: #34424f;
  text-transform: uppercase;
  display: table;
  color: #a8bcd1;
  cursor: pointer;
  position: relative; }

#journal .clear-all span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  font-weight: 600; }

.delete-icon {
  display: inline-block;
  margin-right: .7em;
  vertical-align: -10%; }

.delete-icon div {
  background: #a8bcd1;
  height: 2px;
  width: 16px;
  margin: 2px 0; }

.delete-icon div.bar1 {
  transform: translateX(3px); }

.delete-icon div.bar3 {
  transform: translateX(-3px); }

#journal .items .event .dismiss {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px;
  font-size: 12px;
  color: #a8bcd1; }

.leaflet-overlay-pane svg {
  background: #000e23;
  opacity: 0.7; }

.leaflet-top, .leaflet-bottom {
  z-index: 1;
  opacity: 0.25; }

/*# sourceMappingURL=style.css.map */