@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300,100);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
* {
  font-family: Lato; }

html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  /* for firefox */
  background-color: #344150; }

body {
  /*background: url(http://i.imgur.com/bZlpljL.jpg); background-size: cover; background-position: center center;*/
  margin: 0; }

::selection {
  background: rgba(0, 0, 0, 0.7);
  color: white; }

#map {
  background-color: #344150 !important; }

.menu {
  /*background: rgba(38, 48, 58, 0.9); */
  background: rgba(31, 37, 43, 0.9);
  z-index: 5; }

#menu {
  position: fixed;
  left: -200px;
  top: 0;
  bottom: 0;
  width: 200px;
  color: white;
  transform: translateZ(0);
  overflow-y: auto; }

.container.center {
  display: table;
  width: 100%;
  height: 100%; }

.container.center > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

#menu .item {
  width: 100px;
  height: 100px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3), inset 0 0 0 60px transparent;
  display: inline-block;
  border-radius: 100%;
  position: relative;
  margin: 1em 0;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.15s; }

#menu .item:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(0, 0, 0, 0.15); }

#menu .item .counter {
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  font-size: 14px;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.4);
  padding: 1px 6px 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }
  #menu .item .counter span.current {
    color: black; }

#menu .item#pokemons {
  background-color: #7db620;
  background-image: url("../images/pokemons.png"); }

#menu .item#pokedex {
  background-color: #bfe358;
  background-image: url("../images/pokedex.png"); }

#menu .item#items {
  background-color: #fe7676;
  background-image: url("../images/items.png"); }

#menu .item#eggs {
  background-color: #9b59b6;
  background-image: url("../images/eggs.png"); }

#menu .item#settings {
  background-color: #2196f3;
  background-image: url("../images/settings.png"); }

#menu .item#snipes {
  background-color: #B01E00;
  background-image: url("../images/target-white.svg");
  background-size: cover; }

#menu .close-button {
  width: 50px;
  height: 50px;
  transition: 0.3s;
  border-radius: 100%;
  margin: 2.5em auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer; }

.close-button i, .open-menu i, .open-journal i, .open-console i {
  line-height: 48px;
  color: white;
  transition: 0.3s; }

#console .close-button i {
  line-height: inherit;
  padding: 10px 0; }

#menu .help {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 2.5em auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: 0.3s;
  color: white; }

#menu .help i {
  line-height: 48px; }

.open-menu {
  transition: 0.3s;
  position: fixed;
  top: 15px;
  margin: 0;
  color: white;
  left: 15px;
  transition: 0.3s;
  border-radius: 100px;
  margin: auto;
  margin-bottom: 2.5em;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  padding: .75em 1em .9em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px; }

.open-menu i {
  margin-left: .5em;
  margin-right: 0 !important; }

.open-menu i, .open-journal i, .open-console i {
  vertical-align: -5%;
  line-height: 1;
  margin-right: .5em; }

.open-menu:hover,
.open-menu:focus,
.help:hover,
.help:focus,
.open-journal:hover,
.open-journal:focus,
.open-console:hover,
.open-console:focus,
.close-button:hover,
.close-button:focus {
  background: rgba(0, 0, 0, 0.7) !important; }

.menu::-webkit-scrollbar {
  width: 10px;
  background: rgba(0, 0, 0, 0.1); }

.menu::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); }

#popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100; }

#popup .inner-wrap {
  position: fixed;
  z-index: 11;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 1000px;
  max-height: 800px;
  background: #ededed;
  margin: auto;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.32); }

#popup .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5); }

#popup .inner-wrap .close-me {
  position: absolute;
  top: 0;
  cursor: pointer;
  left: 0;
  height: 36px;
  width: 36px;
  color: white;
  background: rgba(0, 0, 0, 0.15);
  line-height: 34px;
  transition: 0.3s; }
  #popup .inner-wrap .close-me:hover {
    background: rgba(0, 0, 0, 0.4); }

#popup .inner-wrap .title {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 36px;
  width: 100%;
  height: 36px;
  background: rgba(0, 0, 0, 0.1); }

#popup .inner-wrap .content {
  padding: 10px; }

/* console */
#console {
  position: fixed;
  bottom: -300px;
  height: 300px;
  width: 100%;
  color: white;
  transform: translateZ(0);
  overflow-y: hidden; }

#console .title {
  height: 46px;
  width: 100%;
  /* background: #34424f; */
  background: rgba(67, 93, 109, 0.22);
  text-transform: uppercase;
  display: table;
  position: relative; }

#console .title span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px; }

#console .items {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  height: 244px;
  padding: 5px; }

#console .items::-webkit-scrollbar {
  width: 10px;
  background: rgba(0, 0, 0, 0.3); }

#console .items::-webkit-scrollbar-thumb {
  /* background: rgba(0, 0, 0, 0.5); */
  background: rgba(97, 128, 160, 0.5); }

#console .items .event {
  direction: ltr;
  margin: 0;
  /*  background: rgba(32, 41, 49, 0.8); */
  /*background: rgba(12, 13, 14, 0.2); */
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%;
  overflow: hidden;
  animation: fadeIn .5s 1 ease-out;
  font-size: 14px; }

#console .close-button {
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border-radius: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 5px;
  display: table-cell; }

.open-console {
  transition: 0.3s;
  position: fixed;
  bottom: 0px;
  color: white;
  right: 0;
  left: 0;
  transition: 0.3s;
  border-radius: 100px;
  margin: 0 auto 15px auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  padding: .75em 1em .9em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  width: 77px; }

/* journal */
#journal {
  position: fixed;
  right: -300px;
  top: 0;
  bottom: 0;
  width: 300px;
  color: white;
  transform: translateZ(0);
  overflow-y: auto; }

#journal .title {
  height: 80px;
  width: 100%;
  /* background: #34424f; */
  background: rgba(67, 93, 109, 0.22);
  text-transform: uppercase;
  display: table;
  position: relative; }

#journal .title span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px; }

#journal .items {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  direction: rtl; }

#journal .items .event {
  direction: ltr;
  margin: 0;
  /*  background: rgba(32, 41, 49, 0.8); */
  /*background: rgba(12, 13, 14, 0.2); */
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
  width: 100%;
  overflow: hidden;
  animation: fadeIn .5s 1 ease-out; }

#journal .items .event .extended-info {
  display: none;
  padding: 0 2em 2em 2em;
  color: #8198af;
  font-size: 12px;
  line-height: 2;
  text-transform: uppercase; }

#journal .items .event .extended-info span {
  color: white;
  margin: 0 0.5em; }

#journal .items .event .extended-info span img {
  max-height: 16px;
  max-width: 16px;
  vertical-align: middle; }

#journal .items .event .extended-info span img + img {
  margin-left: 0.3em; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#journal .items .event .item-container {
  display: table;
  width: 100%;
  /* min-height: 100px; */
  padding: 1em 0; }

#journal .items .event .category {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10px; }

#journal .items .event + .event {
  margin-top: 10px; }

#journal .items::-webkit-scrollbar {
  width: 10px;
  background: rgba(0, 0, 0, 0.3); }

#journal .items::-webkit-scrollbar-thumb {
  /* background: rgba(0, 0, 0, 0.5); */
  background: rgba(97, 128, 160, 0.5); }

#journal .items:before {
  content: "";
  position: fixed;
  top: 80px;
  z-index: 1;
  pointer-events: none;
  left: 0;
  right: 0;
  height: 17%;
  background: linear-gradient(to bottom, #11171b 0%, rgba(35, 45, 53, 0) 100%);
  display: block;
  transition: 0.2s;
  opacity: 0.7; }

#journal .items:after {
  content: "";
  position: fixed;
  bottom: 60px;
  z-index: 1;
  pointer-events: none;
  left: 0;
  right: 0;
  height: 17%;
  background: linear-gradient(to top, #11171b 0%, rgba(35, 45, 53, 0) 100%);
  display: block;
  transition: 0.2s;
  opacity: 0.7; }

#journal:hover .items:before, #journal:hover .items:after {
  opacity: 0; }

#journal .event.example .category {
  background: #ff00ff; }

#journal .event.transfer .category {
  background: #1d7157; }

#journal .event.pokestop .category {
  background: #33b5e5; }

#journal .event.recycle .category {
  background: #cb92f1; }

#journal .event.catch .category {
  background: #7db620; }

#journal .event.snipe .category {
  background: #7db620; }

#journal .event.evolve .category {
  background: #ebac28; }

#journal .event.egg-hatched .category {
  background: #fe7676; }

#journal .event.incubator-status .category {
  background: #e9e1b5; }

#journal .event .event-type {
  position: absolute;
  top: 0;
  right: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 4px 6px; }

#journal .event.example .event-type {
  color: #ff00ff; }

#journal .event.transfer .event-type {
  color: #1d7157; }

#journal .event.pokestop .event-type {
  color: #33b5e5; }

#journal .event.recycle .event-type {
  color: #cb92f1; }

#journal .event.catch .event-type {
  color: #7db620; }

#journal .event.snipe .event-type {
  color: #7db620; }

#journal .event.evolve .event-type {
  color: #ebac28; }

#journal .event.egg-hatched .event-type {
  color: #fe7676; }

#journal .event.incubator-status .event-type {
  color: #e9e1b5; }

#journal .event .image {
  display: table-cell;
  width: 64px;
  height: 64px;
  padding-left: 1em;
  text-align: center;
  vertical-align: middle; }

#journal .event .info {
  display: table-cell;
  padding: .3em 0;
  padding-left: 1em;
  vertical-align: middle;
  font-size: 18px; }

#journal .event .info .stats {
  font-size: 14px;
  color: #8198af; }

#journal .event .timestamp {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 6px;
  color: #5d6c7a; }

#journal .event img {
  max-width: 64px;
  max-height: 64px; }

#journal .event .info .item {
  display: inline-block;
  margin-bottom: 5px; }

#journal .event .info .item + .item {
  margin-left: .5em; }

#journal .event .info .item img {
  max-width: 32px;
  max-height: 32px;
  vertical-align: middle;
  margin-right: 7px; }

#journal .close-button {
  width: 50px;
  height: 50px;
  transition: 0.3s;
  border-radius: 100%;
  margin: 15px;
  margin-bottom: 2.5em;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  display: table-cell; }

.open-journal {
  transition: 0.3s;
  position: fixed;
  top: 15px;
  margin: 0;
  color: white;
  right: 15px;
  transition: 0.3s;
  border-radius: 100px;
  margin: auto;
  margin-bottom: 2.5em;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  padding: .75em 1em .9em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px; }

#journal .clear-all {
  height: 60px;
  width: 100%;
  background: #161c21;
  text-transform: uppercase;
  display: table;
  color: #a8bcd1;
  cursor: pointer;
  position: relative; }

#journal .clear-all span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  font-weight: 600; }

.delete-icon {
  display: inline-block;
  margin-right: .7em;
  vertical-align: -10%; }

.delete-icon div {
  background: #a8bcd1;
  height: 2px;
  transition: 0.3s;
  width: 16px;
  margin: 2px 0; }

.delete-icon div.bar1 {
  transform: translateX(3px); }

.delete-icon div.bar3 {
  transform: translateX(-3px); }

#journal .clear-all:hover .delete-icon div {
  transform: translateX(0); }

#journal .items .event .dismiss {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px;
  font-size: 12px;
  color: #a8bcd1; }

.leaflet-overlay-pane svg {
  background: #000e23;
  opacity: 0.7; }

.leaflet-top, .leaflet-bottom {
  z-index: 1;
  opacity: 0.25; }

#content-wrap::-webkit-scrollbar {
  width: 10px;
  background: rgba(0, 0, 0, 0.1); }

#content-wrap::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); }

.inner-wrap .pokemon {
  display: inline-block;
  margin: 0.5em;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  width: 175px;
  vertical-align: top;
  background: white;
  cursor: pointer;
  transition: 0.3s;
  position: relative; }
  .inner-wrap .pokemon .distance {
    background-image: url("../images/distance.svg");
    background-repeat: no-repeat;
    background-position: 35px; }
  .inner-wrap .pokemon .timer {
    background-image: url("../images/clock.svg");
    background-repeat: no-repeat;
    background-position: 35px; }
  .inner-wrap .pokemon .snipe-him {
    position: absolute;
    top: 33px;
    left: 33px;
    display: none;
    background-image: url("../images/target.svg");
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    background-size: cover;
    opacity: 0.8; }
  .inner-wrap .pokemon .delete {
    background-image: url("../images/delete.svg");
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    background-size: cover;
    display: inline-block;
    position: absolute;
    top: -10px;
    right: -10px; }
  .inner-wrap .pokemon.targeted {
    border: solid 1px red; }
    .inner-wrap .pokemon.targeted .snipe-him {
      display: none !important; }
  .inner-wrap .pokemon.walking-to {
    border: solid 1px green; }
    .inner-wrap .pokemon.walking-to .snipe-him {
      display: none !important; }
    .inner-wrap .pokemon.walking-to .delete {
      display: none !important; }
    .inner-wrap .pokemon.walking-to .distance {
      display: none; }
    .inner-wrap .pokemon.walking-to .animation-walking {
      display: block !important; }
  .inner-wrap .pokemon:hover .snipe-him {
    display: inline-block;
    transition-duration: 1s; }

.inner-wrap .pokemon.opened {
  width: calc(100% - 30px); }

.inner-wrap .pokemon:hover, .inner-wrap .pokemon:focus {
  transform: translateY(-5px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2); }

.inner-wrap .pokemon img {
  max-height: 100px;
  max-width: 100px;
  vertical-align: middle;
  display: inline-block; }

.inner-wrap .pokemon .image-container {
  height: 100px;
  margin: 0 auto; }

.inner-wrap .pokemon .image-container:before {
  content: "";
  height: 100%;
  vertical-align: middle;
  display: inline-block; }

.inner-wrap .pokemon h1 {
  font-size: 18px; }

.inner-wrap .pokemon h3 {
  font-size: 14px; }

.inner-wrap .pokemon .cp:before {
  content: "CP";
  margin-right: .5em;
  opacity: 0.5; }

.inner-wrap .pokemon .iv:before {
  content: "IV";
  margin-right: .5em;
  opacity: 0.5; }

.inner-wrap .pokemon .iv:after {
  content: "%"; }

#content-wrap {
  overflow-y: scroll;
  height: calc(100% - 36px);
  position: relative;
  transition: 0.3s; }

#popup .inner-wrap .content[data-category="pokemons"] {
  margin: .5em 0; }

.inner-wrap .pokemon .caught:before {
  content: "Caught";
  margin-right: .5em;
  opacity: 0.5;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding-right: .5em; }

.inner-wrap .pokemon .seen:before {
  content: "Seen";
  margin-right: .5em;
  opacity: 0.5;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding-right: .5em; }

#profile {
  position: fixed;
  width: 300px;
  right: 0;
  left: 0;
  top: 30px;
  margin: 0 auto;
  text-align: center;
  display: table;
  color: white;
  padding: 1.25em .75em;
  border-radius: 5px;
  transition: 0.5s cubic-bezier(0.3, 0, 0, 1); }

.open-profile {
  position: fixed;
  width: 50px;
  right: 0;
  left: 0;
  top: 30px;
  margin: 0 auto;
  text-align: center;
  display: table;
  color: white;
  transition: 0.5s cubic-bezier(0.3, 0, 0, 1);
  z-index: 6; }

#profile > div {
  display: table-cell;
  vertical-align: middle; }

#profile h1, #profile h6, #profile .profile-exp {
  font-size: 14px;
  margin: 0.2em; }

#profile h6 {
  color: rgba(255, 255, 255, 0.75); }

#profile .profile-exp {
  color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  position: relative;
  letter-spacing: 1px; }
  #profile .profile-exp span {
    color: rgba(255, 255, 255, 0.5); }

/* #profile .user-items div {
    margin: 0.5em 0;
} */
#profile .user-items div + div {
  margin-top: .75em; }

#profile .user-items img {
  max-height: 16px;
  vertical-align: -10%;
  margin-right: 0.5em; }

.open-profile > .hide {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  padding: 10px 13px;
  background: rgba(0, 0, 0, 0.2);
  transition: 0.5s cubic-bezier(0.3, 0, 0, 1);
  border-radius: 5px 0;
  right: 0;
  border-radius: 100%;
  background: transparent;
  margin: 0 auto;
  padding: 10px 0;
  width: 36px;
  top: -18px;
  background: #3a4b58;
  box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0.1);
  height: 16px; }

.open-profile > .hide:hover {
  box-shadow: inset 0 0 0 18px rgba(255, 255, 255, 0.1); }

#profile.hidden {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  top: -240px; }

.open-profile.hidden .hide {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  /*background: rgba(38, 48, 58, 0.9); */
  background: rgba(18, 22, 27, 0.9);
  border-radius: 100%;
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.3); }

.open-profile.hidden > .hide:hover {
  box-shadow: inset 0 0 0 18px rgba(0, 0, 0, 0.3); }

.spinner-overlay {
  background-color: rgba(237, 237, 237, 0.9);
  position: absolute;
  right: 0;
  left: 0;
  display: none;
  top: 36px;
  height: calc(100% - 36px) !important;
  bottom: 0;
  z-index: 1; }
  .spinner-overlay i {
    padding: 20px;
    background: #95b0bd;
    border-radius: 50%;
    color: white;
    box-shadow: inset 0 0 0 24px #607D8B, 0 0 63px 10px #ededed; }

#profile .xp-progress {
  height: 2px;
  background: rgba(255, 255, 255, 0.15);
  width: 100px;
  margin: 0.2em auto;
  margin-bottom: .5em; }

#profile .current-xp {
  width: 50px;
  background: #4faed4;
  height: 100%; }

.profile-stardust {
  position: relative; }

.xp-bubble, .stardust-bubble {
  position: absolute;
  top: 0;
  left: -3.5em;
  animation: XpBubble 1s 1 linear;
  animation-fill-mode: forwards;
  font-size: 12px;
  color: #4faed4; }

.stardust-bubble {
  left: -2.5em;
  right: -2em;
  color: #ac77c6;
  transform: translateY(-0.5em); }

@keyframes XpBubble {
  0% {
    opacity: 0;
    top: 0; }
  10% {
    opacity: 1;
    top: -2px; }
  90% {
    opacity: 1;
    top: -18px; }
  100% {
    opacity: 0;
    top: -20px; } }

#pokemon-info {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
  overflow-y: overlay; }
  #pokemon-info::-webkit-scrollbar {
    width: 10px;
    background: rgba(0, 0, 0, 0.1); }
  #pokemon-info::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); }

/* #pokemon-info {
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    z-index: 1;
    display: none;
    margin: 50px;
    width: calc(100% - 100px);
    height: calc(100% - 136px);
} */
.vertical-align-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

#content-wrap.blurred {
  -webkit-filter: blur(5px);
  opacity: 0.2; }

@keyframes SlideIn {
  0% {
    transform: translateY(-20px); }
  100% {
    transform: translateY(0); } }

#pokemon-content {
  display: inline-block;
  padding: 2em;
  border-radius: 5px;
  position: relative;
  vertical-align: middle;
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  line-height: 1.75;
  overflow: hidden;
  animation: SlideIn 0.3s cubic-bezier(0, 0, 0, 1);
  margin: 1em; }
  #pokemon-content .pokemon-info-favorite {
    display: inline-block;
    position: absolute;
    right: -0.4em;
    top: 0.4em;
    font-size: 28px;
    text-shadow: 0px 0px 1px #222;
    transition: 0.3s; }
    #pokemon-content .pokemon-info-favorite::before {
      color: yellow; }
    #pokemon-content .pokemon-info-favorite:hover {
      text-shadow: 0px 0px 3px #000; }
  #pokemon-content i.close-button {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: black;
    cursor: pointer;
    transition: 0.3s; }
  #pokemon-content i.close-button:hover {
    background: transparent !important; }
  #pokemon-content i.close-button:before {
    margin: 0 !important;
    transition: 0.3s; }
  #pokemon-content i.close-button:hover::before {
    color: black !important; }
  #pokemon-content #pokemon-iv {
    text-transform: uppercase;
    margin: 1em 0; }
    #pokemon-content #pokemon-iv div {
      margin: 2px;
      padding: 8px 10px;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
      display: inline-block;
      font-size: 12px;
      border-radius: 3px; }
      #pokemon-content #pokemon-iv div span {
        color: black;
        display: block; }
  #pokemon-content #pokemon-type {
    text-transform: uppercase;
    margin: 1em 0;
    font-size: 12px;
    font-weight: bold;
    color: white; }
    #pokemon-content #pokemon-type span {
      border-radius: 20px;
      margin: 3px;
      background-color: rgba(0, 0, 0, 0.75);
      padding: 3px 8px;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
      color: white !important; }
    #pokemon-content #pokemon-type .bug {
      background-color: #a8b72a; }
    #pokemon-content #pokemon-type .grass {
      background-color: #91e283;
      color: black; }
    #pokemon-content #pokemon-type .dark {
      background-color: #485b5f; }
    #pokemon-content #pokemon-type .ground {
      background-color: #c89c43; }
    #pokemon-content #pokemon-type .dragon {
      background-color: #d35400; }
    #pokemon-content #pokemon-type .ice {
      background-color: #bce3ea;
      color: black; }
    #pokemon-content #pokemon-type .electric {
      background-color: #edce36;
      color: black; }
    #pokemon-content #pokemon-type .normal {
      background-color: #aba693; }
    #pokemon-content #pokemon-type .fairy {
      background-color: #fdbafd;
      color: black; }
    #pokemon-content #pokemon-type .poison {
      background-color: #a645a6; }
    #pokemon-content #pokemon-type .fighting {
      background-color: #b4352f; }
    #pokemon-content #pokemon-type .psychic {
      background-color: #f75ba2; }
    #pokemon-content #pokemon-type .fire {
      background-color: #f65038; }
    #pokemon-content #pokemon-type .rock {
      background-color: #886626; }
    #pokemon-content #pokemon-type .flying {
      background-color: #72cff0;
      color: black; }
    #pokemon-content #pokemon-type .steel {
      background-color: #7f8c8d; }
    #pokemon-content #pokemon-type .ghost {
      background-color: #cbc7dc;
      color: black; }
    #pokemon-content #pokemon-type .water {
      background-color: #349cf5; }
  #pokemon-content h1 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 0.1em; }
  #pokemon-content h2 {
    opacity: 0.8;
    filter: alpha(opacity=80);
    font-size: 18px;
    margin: 0;
    margin-bottom: 0.1em; }
  #pokemon-content img {
    max-height: 140px; }
  #pokemon-content *:before {
    color: rgba(0, 0, 0, 0.5);
    margin-right: 0.75em; }
  #pokemon-content .total-iv:before {
    content: "Total IV"; }
  #pokemon-content .poke-cp:before {
    content: "CP"; }
  #pokemon-content .parameter:before {
    content: "Parameter"; }
  #pokemon-content .move1:before {
    content: "Quick move"; }
  #pokemon-content .move2:before {
    content: "Charge move"; }
  #pokemon-content .pkm-candies:before {
    content: "Candies"; }
  #pokemon-content .controls {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 2em;
    padding: 2em;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding-bottom: 0; }
    #pokemon-content .controls .pokemon-info-button {
      display: inline-block;
      text-transform: uppercase;
      position: relative;
      margin: 5px;
      border-radius: 3px;
      background: #7db620;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
      color: white;
      font-size: 12px;
      padding: 5px 7px;
      padding-top: 8px;
      letter-spacing: 1px;
      font-weight: 500;
      min-width: 82px;
      cursor: pointer;
      outline: 0;
      transition: 0.3s; }
      #pokemon-content .controls .pokemon-info-button.disabled {
        background: #d8d8d8;
        color: rgba(0, 0, 0, 0.6);
        cursor: not-allowed; }
      #pokemon-content .controls .pokemon-info-button i {
        display: block;
        font-size: 1.5em;
        margin: 0.2em 0; }
      #pokemon-content .controls .pokemon-info-button i:before {
        margin: 0 !important;
        color: white; }
      #pokemon-content .controls .pokemon-info-button .confirm, #pokemon-content .controls .pokemon-info-button .button-disabled-reason {
        position: absolute;
        font-size: 10px;
        top: -37px;
        left: -40px;
        right: -40px;
        cursor: auto;
        transform: scaleY(0);
        transform-origin: bottom;
        padding: 0.5em;
        border-radius: 3px; }
      #pokemon-content .controls .pokemon-info-button .confirm {
        transition: 0.2s;
        background: #232323; }
        #pokemon-content .controls .pokemon-info-button .confirm .confirm-button {
          background: #BADA55;
          color: black;
          border-radius: 10px;
          padding: 3px 6px;
          cursor: pointer; }
      #pokemon-content .controls .pokemon-info-button .button-disabled-reason {
        transition: 0.2s; }
      #pokemon-content .controls .pokemon-info-button:not(.disabled):focus .confirm {
        transform: scaleY(1); }
      #pokemon-content .controls .pokemon-info-button.disabled:hover .button-disabled-reason {
        transform: scaleY(1); }

.content[data-category="items"] {
  padding: 0 !important;
  /* .recycle-action {
        .recycle-product {
            display: inline-block;
            text-transform: uppercase;
            position: relative;
            margin: 5px;
            border-radius: 3px;
            background: #08C1C6;
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
            color: white;
            font-size: 12px;
            padding: 5px 7px;
            padding-top: 8px;
            letter-spacing: 1px;
            font-weight: 500;
            min-width: 82px;
            cursor: pointer;
            outline: 0;

            i {
                display: block;
                font-size: 1.5em;
                margin: 0.2em 0;
            }

            i:before {
                margin: 0 !important;
                color: white;
            }

            .confirm {
                position: absolute;
                font-size: 10px;
                top: -37px;
                left: -40px;
                right: -40px;
                cursor: auto;
                transform: scaleY(0);
                transform-origin: bottom;
                transition: 0.2s;
                background: #232323;
                padding: 0.5em;
                border-radius: 3px;

                span {
                    background: #BADA55;
                    color: black;
                    border-radius: 10px;
                    padding: 3px 6px;
                    cursor: pointer;
                }
            }
        }

        .recycle-product:focus .confirm {
            transform: scaleY(1);
        }
    } */ }
  .content[data-category="items"] .product {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 1em 0; }
    .content[data-category="items"] .product .product-info {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      padding-left: 5%; }
      .content[data-category="items"] .product .product-info img {
        height: 48px;
        vertical-align: middle;
        width: 64px;
        object-fit: contain; }
      .content[data-category="items"] .product .product-info h1 {
        display: inline-block;
        font-size: 18px;
        margin-left: 1em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.8);
        font-size: 14px; }
    .content[data-category="items"] .product .number {
      display: table-cell;
      vertical-align: middle;
      font-size: 28px;
      font-weight: 300;
      width: 30%;
      text-align: right;
      padding-right: 5%; }
  .content[data-category="items"] .product.brighter {
    background: rgba(255, 255, 255, 0.35); }
  .content[data-category="items"] .product + .product {
    border-top: 1px solid rgba(0, 0, 0, 0.1); }

.content[data-category="eggs"] .egg {
  width: 175px;
  height: 175px;
  border-radius: 100px;
  background: white;
  margin: 2em 3em;
  display: inline-block;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  position: relative; }
  .content[data-category="eggs"] .egg p {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);
    margin: 0.5em 0; }
    .content[data-category="eggs"] .egg p b {
      color: rgba(0, 0, 0, 0.7); }
    .content[data-category="eggs"] .egg p i {
      font-style: normal; }
  .content[data-category="eggs"] .egg .circle {
    position: absolute;
    top: -2.5px;
    left: -2.5px;
    right: -2.5px; }

.content[data-category="eggs"] .egg .incubator {
  background-image: url("../images/items/0.png");
  background-size: 16%;
  background-position: 50% 49%;
  background-repeat: no-repeat;
  height: 100%; }

.content[data-category="eggs"] .egg .incubator img {
  height: 130px;
  vertical-align: middle;
  display: inline-block; }

.content[data-category="eggs"] .egg .incubator:before {
  content: "";
  height: 100%;
  vertical-align: middle;
  display: inline-block; }

.tab-buttons {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  padding: 1em 0; }
  .tab-buttons div {
    display: inline-block;
    padding: 1em 2em;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin: 0 .5em; }
    .tab-buttons div .pokemon-order-chevron {
      transition: 0.3s cubic-bezier(0.3, 0, 0, 1);
      opacity: 0;
      filter: alpha(opacity=0); }
    .tab-buttons div.selected {
      box-shadow: inset 0 -2px #2196f3;
      color: #2196f3; }
      .tab-buttons div.selected .pokemon-order-chevron {
        padding-left: 0.5em;
        padding-right: 0.5em;
        display: inline-block;
        opacity: 1;
        filter: alpha(opacity=100); }
        .tab-buttons div.selected .pokemon-order-chevron.descending {
          transform: rotate(180deg); }

.content[data-category="settings"] {
  padding: 0 !important;
  padding-bottom: 2em !important; }
  .content[data-category="settings"] .tab-pages > div {
    text-align: center;
    padding: 1em;
    margin: 1em;
    line-height: 2;
    margin-top: 0;
    display: none; }
  .content[data-category="settings"] .tab-pages .setting-topic {
    background: white;
    padding: 1.35em 2em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); }
    .content[data-category="settings"] .tab-pages .setting-topic .setting-name {
      margin-top: 0;
      margin-bottom: 1em;
      letter-spacing: 1px;
      font-size: 14px;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.5);
      padding: 0 2em;
      display: inline-block;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .content[data-category="settings"] .tab-pages .setting-topic ~ .setting-topic {
      margin-top: 2em; }
  .content[data-category="settings"] .tab-pages .setting-part {
    display: table;
    width: 100%;
    text-align: left;
    table-layout: fixed; }
    .content[data-category="settings"] .tab-pages .setting-part > * {
      display: table-cell;
      vertical-align: middle; }
    .content[data-category="settings"] .tab-pages .setting-part .setting-question {
      padding-right: 6em;
      vertical-align: top; }
    .content[data-category="settings"] .tab-pages .setting-part .setting-question span {
      display: block;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.5); }
    .content[data-category="settings"] .tab-pages .setting-part .setting-answer {
      width: 40%; }
      .content[data-category="settings"] .tab-pages .setting-part .setting-answer input[type="text"], .content[data-category="settings"] .tab-pages .setting-part .setting-answer input[type="number"], .content[data-category="settings"] .tab-pages .setting-part .setting-answer input[type="password"], .content[data-category="settings"] .tab-pages .setting-part .setting-answer select {
        margin-right: 0.5em; }
      .content[data-category="settings"] .tab-pages .setting-part .setting-answer .settings-client-connection-string {
        font-family: Courier New, Courier, monospace; }
      .content[data-category="settings"] .tab-pages .setting-part .setting-answer #notification-desktop-status {
        font-family: Courier New, Courier, monospace; }
      .content[data-category="settings"] .tab-pages .setting-part .setting-answer .example {
        color: #2196f3;
        font-size: 12px;
        margin-left: 0.5em;
        cursor: pointer; }
    .content[data-category="settings"] .tab-pages .setting-part + .setting-part {
      padding-top: 1em;
      margin-top: 1em;
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
    .content[data-category="settings"] .tab-pages .setting-part.not-implemented .not-implemented-error {
      font-size: 12px;
      font-weight: 600;
      color: #d95753;
      text-transform: uppercase;
      display: inline-block;
      margin-left: 1ch; }

#settings-buttons {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0px;
  margin: 0 auto;
  background: rgba(237, 237, 237, 0.85);
  padding: 1em;
  display: none; }
  #settings-buttons .button {
    margin: 0 0.5em;
    border-radius: 3px;
    padding: 0.5em 1em;
    display: inline-block;
    background: #2196f3;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    width: 10ch;
    transition: 0.3s; }
  #settings-buttons .button#cancel-changes {
    background: #8f8f8f; }
  #settings-buttons.disabled .button {
    pointer-events: auto;
    cursor: auto;
    background: #d8d8d8 !important;
    color: rgba(0, 0, 0, 0.6); }

input[type="radio"] {
  outline: 0;
  position: relative;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer; }

input[type="radio"]:before {
  position: absolute;
  top: 6px;
  left: 2px;
  background-color: #2196f3;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }

input[type="radio"]:before, input[type="radio"]:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  -webkit-transition: 240ms;
  -o-transition: 240ms;
  transition: 240ms; }

input[type="radio"]:after {
  position: relative;
  top: 4px;
  border: 2px solid #666666; }

input[type="radio"]:checked:after {
  border-color: #2196f3; }

input[type="radio"]:checked:before {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7); }

input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -5px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: 0; }

input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-top: -2px;
  margin-right: 5px;
  border: 2px solid #666666;
  border-radius: 2px;
  -webkit-transition: 240ms;
  -o-transition: 240ms;
  transition: 240ms;
  box-shadow: inset 0 0 0 0 #2196f3; }

input[type="checkbox"]:checked:after {
  border-color: #2196f3;
  box-shadow: inset 0 0 0 8px #2196f3; }

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 7px;
  display: table;
  width: 4px;
  height: 9px;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  -webkit-transition: 240ms;
  -o-transition: 240ms;
  transition: 240ms;
  -webkit-transform: rotate(45deg) scale(0);
  -ms-transform: rotate(45deg) scale(0);
  -o-transform: rotate(45deg) scale(0);
  transform: rotate(45deg) scale(0); }

input[type="checkbox"]:checked:before {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  -o-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  transition-delay: .05s; }

input[type="text"], input[type="number"], input[type="password"], select {
  padding: 6px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  transition: 0.2s;
  outline: 0;
  box-sizing: border-box; }

input[type="text"]:focus, input[type="number"]:focus, select:focus {
  border-color: rgba(0, 0, 0, 0.4); }

.option-toggle {
  width: 60px;
  border-radius: 20px;
  height: 20px;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25), inset 10px 0 0 0 #2196f3;
  transition: 0.7s cubic-bezier(0.2, 0, 0, 1);
  cursor: pointer; }
  .option-toggle.active {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25), inset 46px 0 0 0 #2196f3; }
    .option-toggle.active .toggle-circle {
      left: 36px; }

.option-toggle .toggle-circle {
  position: absolute;
  top: -3px;
  left: 0px;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  transition: 0.5s cubic-bezier(0.2, 0, 0, 1); }

select {
  -webkit-appearance: none;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Angle_down_font_awesome.svg/512px-Angle_down_font_awesome.svg.png");
  background-size: 16px 16px;
  background-position: 95% center;
  background-repeat: no-repeat;
  min-width: 171px; }

select option {
  padding: 0.5em; }

#notification {
  position: fixed;
  top: -60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 1em 2em;
  border-radius: 3px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  color: black;
  text-align: center;
  display: inline-block;
  width: 250px;
  background: #ffffff;
  z-index: 101; }
  #notification .countdown {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.12); }
  #notification .description {
    opacity: 0.8;
    font-size: 12px; }

#journal-counter {
  background: #d95753;
  color: white;
  padding: 3px 7px;
  margin-left: 0.3em;
  border-radius: 50px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2); }

.gm-iw-popup .left div {
  transform: skewX(45deg) !important;
  background-color: #f3f3f3 !important;
  box-shadow: none !important; }

.gm-iw-popup .right div {
  transform: skewX(-45deg) !important;
  background-color: #f3f3f3 !important;
  box-shadow: none !important; }

.gm-style-iw .iw-header {
  font-size: 18px;
  padding: 12px;
  min-height: 40px; }
  .gm-style-iw .iw-header .iw-detail-value {
    display: block; }
  .gm-style-iw .iw-header .iw-detail-header {
    display: block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5); }

.gm-style-iw .iw-status {
  padding: 0.5em 1em;
  font-size: 14px;
  text-align: center;
  background-color: #4faed4;
  color: white;
  text-transform: uppercase; }

.gm-style-iw {
  width: 250px !important;
  top: 15px !important;
  left: 0 !important;
  background-color: #fff;
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  font-weight: 400 !important;
  font-size: 14px !important; }

.gm-style-iw > div, .gm-iw-popup {
  width: 250px !important;
  display: block !important; }

.iw-close-button {
  right: -1.4em;
  left: auto !important;
  padding: 0.75em;
  top: -0.1em !important;
  background: #ffffff;
  opacity: 1 !important;
  border-radius: 35px;
  width: 15px !important;
  height: 15px !important;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.2s; }
  .iw-close-button i {
    transition: 0.2s; }

.iw-close-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); }
  .iw-close-button:hover i {
    transform: rotate(89.99deg); }

.iw-content {
  padding: 1em;
  background: rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 12px; }
  .iw-content .iw-detail + .iw-detail {
    margin-top: .5em; }
  .iw-content .iw-detail-header {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    margin-right: 0.5em; }

@keyframes rotateY {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(180deg); } }

.iw-wrap {
  position: relative; }
  .iw-wrap .iw-icon {
    float: left;
    height: 40px;
    padding: 12px; }
  .iw-wrap.iw-pokestop .iw-icon {
    animation: rotateY 2s infinite linear;
    animation-direction: alternate; }
  .iw-wrap img.iw-gym-team-emblem {
    float: none;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 65%;
    width: 75px;
    object-fit: contain;
    pointer-events: none;
    opacity: 0.3;
    filter: alpha(opacity=30); }
  .iw-wrap.iw-gym-instinct .iw-status {
    background: #fbd208;
    color: rgba(0, 0, 0, 0.7); }
  .iw-wrap.iw-gym-instinct img.iw-gym-team-emblem {
    opacity: 0.45;
    filter: alpha(opacity=45); }
  .iw-wrap.iw-gym-mystic .iw-status {
    background: #0677ee; }
  .iw-wrap.iw-gym-valor .iw-status {
    background: #d95753; }
  .iw-wrap.iw-gym-neutral .iw-status {
    background: #bdc3c7;
    color: rgba(0, 0, 0, 0.7); }
  .iw-wrap.iw-gym-neutral img.iw-gym-team-emblem {
    opacity: 0.4;
    filter: alpha(opacity=40); }
  .iw-wrap.iw-pokestop-visited .iw-status {
    background: #9b59b4; }
  .iw-wrap.iw-pokestop-lure .iw-status {
    border-bottom: 2px solid #f52d60; }
  .iw-wrap .iw-gym-defender img {
    height: 16px;
    vertical-align: middle;
    margin-right: .5em; }
  .iw-wrap hr {
    border: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    height: 1px;
    margin: 1em auto; }

.gm-iw-popup {
  animation: SlideandLargeIn 0.2s 1 cubic-bezier(0, 0, 0, 1), fadeIn 0.25s 1;
  transform-origin: 57% 105%; }

@keyframes SlideandLargeIn {
  0% {
    transform: scale(0) translateY(-20px); }
  100% {
    transform: scale(1) translateY(0px); } }

/*# sourceMappingURL=style.css.map */