@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300,100);

* {font-family: Lato;}

body {
    background: url(http://i.imgur.com/bZlpljL.jpg); background-size: cover;
}

.menu {
    background: rgba(52, 66, 79, 0.9);
}

#menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    color: white;
}

.container.center {
    display: table;
    width: 100%;
    height: 100%;
}

.container.center > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#menu .item {
    width: 100px;
    height: 100px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    display: inline-block;
    border-radius: 100%;
    position: relative;
    margin: 1em 0;
    background-position: center center;
    background-repeat: no-repeat;
}

#menu .item .counter {
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    font-size: 14px;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.4);
    padding: 1px 6px 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#menu .item .counter span {
    color: black;
}

#menu .item#pokemons {
    background-color: #08c1c6;
    background-image: url("../images/pokemons.png");
}

#menu .item#pokedex {
    background-color: #bfe358;
    background-image: url("../images/pokedex.png");
}

#menu .item#items {
    background-color: #fe7676;
    background-image: url("../images/items.png");
}

#menu .item#eggs {
    background-color: #9b59b6;
    background-image: url("../images/eggs.png");
}

#menu .item#settings {
    background-color: #7f8c8d;
    background-image: url("../images/settings.png");
}
